<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.com.zcf.mapper.GameCardCircleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.GameCardCircle">
        <id column="circleid" property="circleid" />
        <result column="circlename" property="circlename" />
        <result column="circlenumber" property="circlenumber" />
        <result column="date" property="date" />
        <result column="diamond" property="diamond" />
        <result column="userid" property="userid" />
        <result column="maxnum" property="maxnum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        circleid, circlename, circlenumber, date, diamond, userid, maxnum
    </sql>

</mapper>
